@mixin animation($time) {
  -webkit-transition: $time all cubic-bezier(0, 1, 0.5, 1);
  -moz-transition: $time all cubic-bezier(0, 1, 0.5, 1);
  transition: $time all cubic-bezier(0, 1, 0.5, 1); 
}
@mixin rotate($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  transform: rotate($deg);
}
@mixin move($x, $y) {
  -webkit-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  transform: translate($x, $y);
}

.header {
  position: relative;
  width: 100%; 
  margin: 0 auto;
  background: url('../images/bg-main.jpg') no-repeat center top;
  background-size: cover;

  font-family: 'agsemi', sans-serif;

  h1 {
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 10em;
    mix-blend-mode: color-dodge;
  }

  p {
    color: white;
    font-family: 'Circular', sans-serif;
    font-size: 2em;
  }

  a {
    position: relative; 
    bottom: -100px;
    border: 2px solid white;
    padding: 15px 50px;
    color: white;
    text-decoration: none;

    @include animation(0.2s); 

    &:hover {
      background: white;
      color: #333; 
    }
  }
}















