<div class="nav">
  <div class="row">
    <div class="twelve columns text-left">
      <a href="/" id="open-about">
        <h1>Home<!--  <i class="fa fa-long-arrow-right"></i> --></h1>
      </a>
      <a href="/lookbook" id="open-about">
        <h1>Shop<!--  <i class="fa fa-long-arrow-right"></i> --></h1>
      </a>
      <a href="/about" id="open-about">
        <h1>About<!--  <i class="fa fa-long-arrow-right"></i> --></h1>
      </a>
      <a href="/norway">
        <h1>Norway x Yas Hallo </h1>
      </a>
    </div>
  </div>
</div>