---
title: About yas hallo
---

<%= partial "partials/indexnavigation" %>


<div class="about-header">
  <div class="container">
    <div class="row">
      <%= image_tag "logow.png" %>
    </div>
  </div>
</div>

<div class="about-text">
  <div class="container">
    <div class="row text-center">
      <div class="twelve columns">
        <h1>Creating products with a mission</h1>
        <%= image_tag "dd.gif" %>
        <p>yas hallo is a minimal brand that partners with short-term missionaries to donate 100% of sale profits to support their journey. Every missionary that partners with yas hallo will get their own product designed through a collaboration.</p>

        <p>Know a missionary that wants to collaborate with yas hallo? Send us a dm on instagram <a href="https://www.instagram.com/yas_hallo/" class="ext-link" target="_blank">@ yas_hallo</a></p>
      </div>
    </div>
  </div>
</div>


<div class="about-text daniel">
  <%= image_tag "daniel.jpg" %>
  <div class="container">
    <div class="row text-center">
      <div class="twelve columns">
        <h1>Crafted by Daniel</h1>
        <p>Daniel created yas hallo in order to provide for those who are going on missions. Through creative collaboration he believes that yas hallo can make an impact in the world no matter how small it may be.</p>

        <p>Want to shoot him a message? Tweet him <a href="https://twitter.com/itsdpark" target="_blank" class="ext-link">@itsdpark</a></p>
      </div>
    </div>
  </div>
</div>