---
title: Norway x Yas Hallo
---

<%= partial "partials/indexnavigation" %>


<div class="norway-header">
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>

<div class="norway-text">
  <div class="container">
    <div class="row text-center">
      <div class="twelve columns">
        <h1>Norway x Yas Hallo</h1>
        <%= image_tag "sam.jpg" %>
        <p>Yas Hallo is excited to announce their first collaboration! Sam Park is currently a student at Parsons the New School for Design in New York City studying photography. After his junior year, Sam decided to take a break from school to do the great work that God called him to do. He is hading out to Norway to take part of the mission program 'DTS' through the YWAM organization. </p>

        <p>Full Interview Coming Soon!</p>
      </div>
    </div>
  </div>
</div>

<br><br><br><br><br><br>

<!-- <div class="about-text daniel">
  <%= image_tag "daniel.jpg" %>
  <div class="container">
    <div class="row text-center">
      <div class="twelve columns">
        <h1>Crafted by Daniel</h1>
        <p>Daniel created yas hallo in order to provide for those who are going on missions. Through creative collaboration he believes that yas hallo can make an impact in the world no matter how small it may be.</p>

        <p>Want to shoot him a message? Tweet him @itsdpark</p>
      </div>
    </div>
  </div>
</div> -->


